.landing-page {
background: url("../../assets/landingpage3.jpg") no-repeat center center/cover;
height: 100vh;
color: white;
padding: 2em;
font-size: 0.8em;
position: relative;
}

.landing-title {
margin-top: 0;
color: rgb(178,187,194);
text-align: center;
padding-top: 2em;
padding-bottom: 1em;
text-shadow: 0px 2px 5px rgb(5, 4, 4);
font-size: 6em;
}

.landing-btns {
    display: flex;
    flex-direction: column;
    width: 20em;
    margin: auto;
    padding: 4em 4em 4em 4em;
    opacity: 80%;
    background-color: rgb(178,187,194);
    box-shadow: 0px 2px 5px rgb(5, 4, 4);
}

.login-btn1 {
    margin-bottom: 1em;
    height: 3em;
    font-size: 1.2em;
    font-weight: bold;
    background-color: rgb(0, 0, 252);
    color: white;
    box-shadow: 0px 2px 5px rgb(5, 4, 4);
}
.signup-btn {
    margin-top: 1em;
    height: 3em;
    font-size: 1.2em;
    font-weight: bold;
    background-color: blue;
    color: white;
    box-shadow: 0px 2px 5px rgb(5, 4, 4);
}
.signup-btn:hover {
    background-color: rgb(178,187,194);
    color: blue; 
  }
  .login-btn1:hover {
    background-color: rgb(178,187,194);
    color: blue; 
  }
