.home-container {
    height: 400vh;
    color: white;
    background-image: url("../../assets/homepage.jpg"), url("../../assets/landingpage2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.menu {
    width: 100vw;
    height: 2em;
    background-color: white;
  }
  
  .session-container {
    text-align: center;
    color: black;
    -webkit-text-stroke: white;
    margin: auto;
    padding-bottom: 1em;
    height: 30em;
    background-color: white;
  }

  .booking-container {
    text-align: center;
    color: black;
    -webkit-text-stroke: white;
    margin: auto;
    padding-bottom: 1em;
    width: 15em;
    height: 25em;
    background-color: white;
  }

  .user-container {
    text-align: center;
    color: black;
    -webkit-text-stroke: white;
    margin: auto;
    padding-bottom: 1em;
    width: 20em;
    height: 20em;
    background-color: white;
  }

  .user-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: none;
    max-width: 80em;
    height: 30em;
    margin: auto;
  }
  
  .session-container button,
  .booking-container button,
  .user-container button {
    width: 8em;
    height: 3em;
    font-size: 1.2em;
    font-weight: bold;
    background-color: rgb(0, 0, 252);
    color: white;
    box-shadow: 0px 2px 5px rgb(5, 4, 4);
    margin-top: 0.5em;
  }
  
  .session-container button:hover,
  .booking-container button:hover {
    background-color: rgb(178,187,194);
    color: rgb(134, 0, 0); 
    }

  .session-list,
  .booking-list-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: none;
    max-width: 80em;
    height: 30em;
    margin: auto;
  }
  
  .add-session-container {
    width: 20vw;
    text-align: center;
    margin: auto;
    display: flex;
    flex-direction: column;
  }
  
  .add-session-container form {
    display: flex;
    flex-direction: column;
  }
  
  .add-session-container form input {
    margin: auto;
    text-align: center;
    width: 60%;
    height: 2em;
  }
  
  .add-session-container form button {
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 60%;
    height: 4em;
  }